<extend name="./base"/>
<block name="content">
    <title>联系我们 - 想映电影院</title>

    <div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron" id="contentwell">
                    <h3>联系我们</h3><hr/>
                    <p>客服热线：</p><br/>
                    <p>若您在网络购票中出现任何问题，敬请垂询：</p>
                    <p>电话：134 328 33209</p>
                    <p>工作时间：10:00-22:00 全年无休</p>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script"></block>