<extend name="./base"/>
<block name="content">
<title>想映电影院</title>

<div>
    <div class="row" id="advertising">
        <div class="col-md-12">
            <div id="carousel1" class="carousel slide">
                <div class="carousel-inner">
                    <for start="0" end="5" name="key">
                        <if condition="$key eq 0">
                            <div class="item active">
                            <else/>
                            <div class="item">
                        </if>
                        <a href="__MODULE__/Movie/detail/m_id/{$movies[$key]['m_id']}"><img class="posterimg" src="{$Think.const.UPLOAD_URL}/{$movies[$key]['m_poster']}" alt=""></a>
                        <div class="carousel-caption">
                            <h1>{$movies[$key]['m_name']}</h1>
                        </div>
                </div>
                    </for>

                </div>
                <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel1" data-slide-to="1"></li>
                    <li data-target="#carousel1" data-slide-to="2"></li>
                    <li data-target="#carousel1" data-slide-to="3"></li>
                    <li data-target="#carousel1" data-slide-to="4"></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul id="menulist" class="nav nav-pills nav-justified">
                    <li class="active"><a href="#hot" data-toggle="tab">正在热映</a></li>
                    <li><a href="#coming" data-toggle="tab">即将上映</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="hot">
                <br><h3 class="text-danger">正在热映：</h3><br>
                <for start="0" end="$movierows" name="k">
                    <div class="row">
                    <for start="4*$k" end="4*$k+4" name="n">
                        <notempty name="movies[$n]">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="thumbnail text-center">
                                    <a href="__MODULE__/Movie/detail/m_id/{$movies[$n]['m_id']}"><img class="movieimg" src="{$Think.const.UPLOAD_URL}/{$movies[$n]['m_frontcover']}" alt=""></a>
                                    <div class="caption">
                                        <a class="btn btn-default btn-danger seatbtn" href="__MODULE__/Order/ticket/m_id/{$movies[$n]['m_id']}">选座购票</a>
                                    </div>
                                </div>
                            </div>
                        </notempty>
                    </for>
                    </div>
                </for>
            </div>
            <div class="tab-pane fade" id="coming">
                <br><h3 class="text-danger">即将上映：</h3><br>
                <for start="0" end="$wmovierows" name="k">
                    <div class="row">
                        <for start="4*$k" end="4*$k+4" name="n">
                            <notempty name="willmovies[$n]">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="thumbnail text-center">
                                        <a href="__MODULE__/Movie/detail/m_id/{$willmovies[$n]['m_id']}"><img class="movieimg" src="{$Think.const.UPLOAD_URL}/{$willmovies[$n]['m_frontcover']}" alt=""></a>
                                        <div class="caption">
                                            <a class="btn btn-default btn-danger seatbtn" href="__MODULE__/Order/ticket/m_id/{$willmovies[$n]['m_id']}">选座购票</a>
                                        </div>
                                    </div>
                                </div>
                            </notempty>
                        </for>
                    </div>
                </for>
            </div>
        </div>
    </div>
</div>
</block>
<block name="script">
    <script>
        $('#carousel1').carousel({
            interval: 5000
        });
    </script>
</block>