<extend name="./base"/>
<block name="content">
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/chosen.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/select2_metro.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/clockface.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/bootstrap-toggle-buttons.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/multi-select-metro.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.ADMIN_CSS_URL}/bootstrap-modal.css"/>

    <div style="background-color:#ffffff;padding-left: 30px;padding-right: 30px">
        <h3 class="page-title">

            查看影票

        </h3>

        <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="__MODULE__/Admin/index" target="_top">主页</a>

                <i class="icon-angle-right"></i>

            </li>

            <li>

                <a href="__CONTROLLER__/index">影票管理</a>

                <i class="icon-angle-right"></i>

            </li>

            <li>查看影票</li>

        </ul>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div>
            <h3>电影:&nbsp;&nbsp;{$ticket.movie}</h3>
            <h3>影院:&nbsp;&nbsp;{$ticket.cinema}</h3>
            <h3>影厅:&nbsp;&nbsp;{$ticket.room}</h3>
            <h3>制式:&nbsp;&nbsp;{$ticket.t_standard}</h3>
            <h3>语言:&nbsp;&nbsp;{$ticket.t_language}</h3>
            <h3>单价:&nbsp;&nbsp;{$ticket.t_price}</h3>
            <h3>总票数:&nbsp;&nbsp;{$ticket.t_ticketnum}</h3>
            <h3>剩余票数:&nbsp;&nbsp;{$ticket.remain}</h3>
            <h3>积分:&nbsp;&nbsp;{$ticket.t_points}</h3>
            <h3>开场时间:&nbsp;&nbsp;{$ticket.t_date}&nbsp;{$ticket.t_time}</h3>
            <h3>是否在售:&nbsp;&nbsp;
                <if condition="$ticket.t_issale eq 1">是
                    <else/>否
                </if>
            </h3>
            <h3>备注:&nbsp;{$ticket.t_remark}</h3>
        </div>
    </div>

</block>
<!-- END CONTAINER -->

<block name="script">

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/ckeditor.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/bootstrap-fileupload.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/select2.min.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/wysihtml5-0.3.0.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/bootstrap-wysihtml5.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/jquery.tagsinput.min.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/jquery.toggle.buttons.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/clockface.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/date.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/daterangepicker.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/bootstrap-colorpicker.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/bootstrap-timepicker.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/jquery.inputmask.bundle.min.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/jquery.input-ip-address-control-1.0.min.js"></script>

    <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}/jquery.multi-select.js"></script>

    <script src="{$Think.const.ADMIN_JS_URL}/bootstrap-modal.js" type="text/javascript" ></script>

    <script src="{$Think.const.ADMIN_JS_URL}/bootstrap-modalmanager.js" type="text/javascript" ></script>

    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="{$Think.const.ADMIN_JS_URL}/app.js"></script>

    <script src="{$Think.const.ADMIN_JS_URL}/form-components.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->

</block>